<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ZPSoft.GameZone.SCI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ZPSoft.GameZone.SCI.Properties.Settings.GetonSimpleConnectionString" connectionString="Data Source=192.168.0.60;Initial Catalog=GetonSimple;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

  <system.serviceModel>
    <services>
      <service name="ZPSoft.GameZone.SCI.Services.WCFInterfaces.AdminService" behaviorConfiguration="ServiceBehaviourMonitor">
        <endpoint address="" binding="netTcpBinding" contract="ZPSoft.GameZone.SGZWCFInterfaces.IGameZoneService" bindingConfiguration="ServiceBinding">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:20051"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="ServiceBinding" maxBufferSize="20097152" maxReceivedMessageSize="20097152">
          <readerQuotas maxArrayLength="20097000"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviourMonitor">
          <!--Чтобы избежать раскрытия метаданных, до развертывания задайте следующему параметру значение "false". -->
          <!--<serviceMetadata httpGetEnabled="true"/> -->
          <!-- Чтобы при сбое получать подробные сведения об исключении для целей отладки, установите для нижеприведенного параметра значение true.  Перед развертыванием установите значение false, чтобы избежать раскрытия информации об исключении -->
          <!-- <serviceDebug includeExceptionDetailInFaults="false"/>-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="Singleton" type="ZPSoft.GameZone.SGZServiceInterfacesImpl.PingServiceImpl, SGZServiceInterfacesImpl" objectUri="PingService"/>
        <wellknown mode="Singleton" type="ZPSoft.GameZone.SGZServiceInterfacesImpl.AdministrationImpl     , SGZServiceInterfacesImpl" objectUri="Administration"/>
        <wellknown mode="Singleton" type="ZPSoft.GameZone.SGZServiceInterfacesImpl.ConfirmationPaymentImpl, SGZServiceInterfacesImpl" objectUri="ConfirmationPayment"/>
        <activated type="ZPSoft.GameZone.SGZServiceInterfacesImpl.CashDeskServiceImpl, SGZServiceInterfacesImpl"/>
      </service>
      <channels>
        <channel ref="tcp" port="2005"/>
      </channels>
    </application>
    <customErrors mode="off"/>
  </system.runtime.remoting>    
  <userSettings>
    <ZPSoft.GameZone.SCI.Properties.Settings>
      <setting name="Language" serializeAs="String">
        <value/>
      </setting>
    </ZPSoft.GameZone.SCI.Properties.Settings>
  </userSettings>
</configuration>
